<html>
  <head>
    <style type="text/css">
      #root {
        width: 600px;
      }
    </style>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript">
      const width = 600;
      const height = 600;

      const margin = ({top: 20, right: 30, bottom: 30, left: 40});

      const data = <%= JSON.generate(@values) %>;

      const x = d3.scaleLinear()
          .domain(d3.extent(data, d => d.x)).nice()
          .range([margin.left, width - margin.right]);

      const y = d3.scaleLinear()
          .domain(d3.extent(data, d => d.y)).nice()
          .range([height - margin.bottom, margin.top]);

      const xAxis = g => g
        .attr("transform", `translate(0,${height - margin.bottom})`)
        .call(d3.axisBottom(x))
        .call(g => g.select(".domain").remove())
        .call(g => g.append("text")
          .attr("x", width - margin.right)
          .attr("y", -4)
          .attr("fill", "#000")
          .attr("font-weight", "bold")
          .attr("text-anchor", "end")
          .text(data.x));

      const yAxis = g => g
        .attr("transform", `translate(${margin.left},0)`)
        .call(d3.axisLeft(y))
        .call(g => g.select(".domain").remove())
        .call(g => g.select(".tick:last-of-type text").clone()
          .attr("x", 4)
          .attr("text-anchor", "start")
          .attr("font-weight", "bold")
          .text(data.y));

      const svg = d3.create("svg")
        .attr("viewBox", [0, 0, width, height]);

      svg.append("g")
        .call(xAxis);

      svg.append("g")
        .call(yAxis);

      svg.append("g")
        .attr("stroke-width", 1.5)
        .attr("font-family", "sans-serif")
        .attr("font-size", 10)
        .selectAll("g")
        .data(data)
        .join("g")
        .attr("transform", d => `translate(${x(d.x)},${y(d.y)})`)
        .call(g => g.append("circle")
          .attr("stroke", "steelblue")
          .attr("fill", "none")
          .attr("r", 3))
        .call(g => g.append("text")
          .attr("dy", "0.35em")
          .attr("x", 7)
          .text(d => d.file_path))

      document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#root').appendChild(svg.node());
      });
    </script>
  </head>
  <body>
    <div id="root"></div>
    </body>
</html>
