<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display|Red+Hat+Text&display=swap" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet" />
    <title>Attractor Output</title>
    <script src="javascripts/index.pack.js"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">
        <img src="images/attractor_logo.svg" alt="" width="36">
        Attractor
      </a>
    </nav>
    <div class="container">
      <div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Churn vs Complexity</h5>
              <div class="d-flex justify-items-center">
                <div id="graph"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
        <% if @serve_static %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Refactoring Candidates</h5>
              <h6 class="card-subtitle text-muted">Top 95 Percentile of Churn * Complexity</h6>
              <table class="table mt-4">
                <thead>
                  <tr>
                    <th scope="col">File Path</th>
                    <th scope="col">Churn</th>
                    <th scope="col">Complexity</th>
                    <th scope="col">Churn * Complexity</th>
                  </tr>
                </thead>
                <tbody id="suggestions-table">
                <% @suggestions.each do |val| %>
                  <tr>
                    <td><%= val.file_path %></td>
                    <td><%= val.churn %></td>
                    <td><%= val.complexity %></td>
                    <td><%= val.churn * val.complexity %></td>
                  <% end %>
                  </tr>
                <tbody>
              </table>
            </div>
          </div>
          <% else %>
            <div id="suggestions"></div>
          <% end %>
        </div>
      </div>
    </div>
    <footer class="footer mt-auto py-3 fixed-bottom">
      <div class="container d-flex justify-content-end">
        <span class="mx-3"><a target="_blank" href="https://github.com/julianrubisch/attractor">Github</a></span>
        <span class="mx-3"><a target="_blank" href="https://twitter.com/AttractorGem">Twitter</a></span>
      </div>
    </footer>
  </body>
</html>
