<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display|Red+Hat+Text&display=swap" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet" />
    <title>Attractor Output</title>
    <link rel="icon" type="image/png" href="images/attractor_favicon.png">
    <script type="text/javascript">
      window.types = <%= @types.to_json %>
    </script>
    <script src="javascripts/index.pack.js"></script>
    <% if @serve_static %>
      <script src="javascripts/index<%= ".#{@short_type}" unless @short_type.nil? %>.js"></script>
    <% end %>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="react-root"></div>
    <footer class="footer mt-auto py-3 fixed-bottom">
      <div class="container d-flex justify-content-end">
        <span class="mx-3"><a target="_blank" href="https://www.patreon.com/user?u=24747270">Patreon</a></span>
        <span class="mx-3"><a target="_blank" href="https://github.com/julianrubisch/attractor">Github</a></span>
        <span class="mx-3"><a target="_blank" href="https://twitter.com/AttractorGem">Twitter</a></span>
      </div>
    </footer>
  </body>
</html>
