name: Ruby Tests

on:
  # Triggers the workflow on push or pull request events but only for the $default-branch branch
  push:
    branches: [ $default-branch ]
  pull_request:
    branches-ignore: [ $default-branch ]

jobs:
  ruby_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: [2.6.6, 2.7.2, '3.0']

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: Build and test with Rake
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rspec spec
        bundle exec cucumber features
    - name: Run StandardRB
      run: bundle exec standardrb --format progress
